@{
    ViewBag.Title = "Home Page";
}


<header>
    <div class="row">
<div class="text-center col-xs-12">
    <h1 class="title">Geborgenheit</h1>
    </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-4"></div>
            <div class="container col-xs-10 col-md-4">
<ul class="nav navbar-nav navbar-static-top text-center">
    <li>@Html.ActionLink("HOME", "Index", "Home")</li>
    <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
    <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>
    <li>@Html.ActionLink("SHOP", "Shop", "Home")</li>
</ul>
  </div>
  <div class="col-xs-1 col-md-4"></div>
</div>
   </header>


<div class="row">
     <div class="col-xs-12">
    <img  class="frontpage" src="/Content/IMG_8806.jpg" alt="front image">
        </div>
</div>